.pr{
    
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}

.pru{
    
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.prue{
    
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}